.loginform{
	width: 250px;
}
.progressbar{
	width: 950px;
	float:left;
}
.body{
	margin:20px;
}
.content{
	margin:10px;
}
.forgotPassword{
	margin-top: 10px;
}
.form{
	width:400px;
}
.inline{
	float:left;
	margin-right: 10px;
}
.inlinetwo{
	float:left;
	margin-left: 10px;
}
.clearBoth{ 
	clear:both; 
	
}
.tdr{
	width:980px;
}
.tdrp{
	width:300px;
}
.text{
	font-size:15px;
}
.validation{
	color: red;
}
.maintain{
	height: 40px;
	font-size: 20px;
	font-style: italic;
}